<style>
  .row1{
    height: 100vh;
    padding-top: 20%;
  }
  .contbg{
    background-image: url(https://img.freepik.com/free-vector/global-technology-network_98292-4299.jpg?w=900&t=st=1679501910~exp=1679502510~hmac=9a79dfcf09d35c4113fc3e5a7b30c462bc9d76bd088acaf63537d3f5f09a7788);
    background-size:contain;
  
  }
  .main-container{
    border-radius: 20px;
    background-color: rgb(216, 227, 233 );
    box-shadow: 2px 5px 40px 10px rgb(54, 90, 105);
    padding-left: 20px;
  }
  .sub{

    margin-left: 40%;
  }
  .result-container{
    background-color: rgb(34, 63, 104);
    height: 40px;
    padding-left: 35%;
    border-radius: 10px;
    padding-top: 7px;
    color: aliceblue;
  }
  .head{
    color: rgb(34, 63, 104);
  }
</style>


<div class="container-fluid contbg">
  <div class="row row1">
    <div class="col-md-4"></div>
    <div class="col-md-4">

      <div class="main-container p-5 ">
        <h2 class='text-center mb-4 head'>Currency Converter</h2>
        <div class="selection-cont">
          <select #c1 class="form-select"  name="" id="country1" (mouseleave)="changeBase(c1.value)">
            <option value="USD">US Dollar</option>
            <option value="INR">Indian Rupee</option>
            <option value="EUR">Euro</option>
      
          </select>
          <h4 class="text-center">To</h4>
          <select #c2 class="form-select" name="" id="country2" (mouseleave)="toCountry(c2.value)">
            <option value="USD">US Dollar</option>
            <option value="INR">Indian Rupee</option>
            <option value="EUR">Euro</option>
      
          </select>
        </div>
      
        <button (click)="convert()" class="mt-3 sub btn btn-dark">Submit</button>
        <div class="result-container mt-3 d-flex">
          <p>1 {{base}} =</p>
          <p> {{result}}  {{cont2}}</p>
      
        </div>
      </div>




    </div>
    <div class="col-md-4"></div>
  </div>
</div>
